.top-bar {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
}

.toolbar {
  height: 90px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  padding: 0 20px;
  background-color: #1976d2;
  color: white;
  font-size: 24px;
  font-weight: bold;

}

.subtitle {
  margin: 5px 0 0 0;
  font-size: 14px;
  opacity: 0.9;
}

.white-icon {
    color: white;
}

.eject-icon {
    color: white;
    transform: rotate(180deg);
    font-size: 50px;
    height: 50px ;
    width: 50px ;
}
