mat-sidenav-container {
    height:100%;
}

.active-link {
  background-color: #E7E5E4; /* Example active background */
  color: #007bff;           /* Example active text color */
}


mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }

mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

.test {
    color: white;
    font-size: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 30px;
}
